/* Path: _static/logo.css */

/* Logo for light mode */
html[theme='light'] .wy-side-nav-search .psl-logo img,
html:not([theme]) .wy-side-nav-search .psl-logo img {
    content: url(_static/logos/seismutils_logo_dark.png);
}

/* Logo for dark mode */
html[theme='dark'] .wy-side-nav-search .psl-logo img {
    content: url(_static/logos/seismutils_logo_light.png);
}